<!DOCTYPE html>
<html>
<head>
<style>
  body {
    background-color: gray;
  }
</style>
</head>
<body>
  <h1 style="color:white;">Below you can see all the articles from BBC news. Just click a word cloud and start reading!</h1>
  <table>
    <td>
      {% set i = namespace(value=0) %}
      {% for cloud in clouds %}
      <tr>
        <th>
          <h1 style="color:white;">{{ categoryTitleList[i.value] }}</h1>
        </th>
        <td>
          <a href="{{categoryList[i.value]}}"><img src="data:image/png;base64,{{cloud}}"></a>
        </td>
      </tr>
      {% set i.value = i.value + 1 %}
      {% endfor %}
    </td>
  </table>
</body>
</html>
